html, body{ margin:0; min-height: 100%;}
.body-index{
    height:100%;
    .container-fluid{
    position: relative;
    height: 100%;
    .g-content{
        .m-logo{
            position: absolute;
            top:px2rem(120px);
            left: px2rem(40px);

        }
        .m-enter{
            position: absolute;
            right: 0px;
            bottom:px2rem(120px);
            h2{
                font-family:PingFang SC;
                font-size: px2rem(14px);
                text-align: center;
                font-weight: 100;
                color: #444444;
                @include prefix(text-shadow,0 0 1px #FF0000);
                letter-spacing: 5px;
                margin-bottom: 8px;
            }
            .u-content{
                color: #ffffff;
                font-size: px2rem(30px);
                background-color: #000000;
                padding: px2rem(10px) px2rem(50px);
                @include prefix(box-shadow,12px 9px 23px rgba(0,0,0,0.5));

            }
        }
    }
    // .g-content{
    //     position: relative;
    //     height: 100%;
    //     .m-logo{
    //         position: absolute;
    //         top:px2rem(120px);
    //         left: px2rem(40px);
    //     }
    //     .m-enter{
    //         position: absolute;
    //         right: 0px;
    //         bottom:px2rem(120px);
    //         text-align: center;
    //         h2{
    //             font-size: px2rem(14px);
    //             font-weight: 100;
    //             color: #444444;
    //             @include prefix(text-shadow,0 0 1px #FF0000);
    //             letter-spacing: 5px;
    //             margin-bottom: 8px;
    //         }
    //         .u-content{
    //             color: #ffffff;
    //             font-size: px2rem(30px);
    //             background-color: #000000;
    //             padding: px2rem(10px) px2rem(50px);
    //             @include prefix(box-shadow,12px 9px 23px rgba(0,0,0,0.5));

    //         }
    //     }
    // }
}
}


/* .aaa{
    width: px2rem(200px);
     height: px2rem(200px);
     background-color: red;
} */